@import "../../../variables";

:host {
    .header-main-row {
        display: flex;
        justify-content: space-between;
        .logo {
            width: 120px;
        }
        .menu-icon {
            display: block;
        }
        .desktop-main-menu {
            display: none;
        }
        @media only screen and (min-width: $mobileBreakpoint) {
            .menu-icon {
                display: none;
            }
            .desktop-main-menu {
                display: block;
            }
        }
    }
}
