<div class="detail-container">
    <p class="detail-row">
        <label>{{'DETAILS.LABELS.LOGIN' | translate}}: </label>
        <span class="detail-value">{{user.login}}</span>
    </p>
    <p class="detail-row">
        <label>{{'DETAILS.LABELS.ID' | translate}}: </label>
        <span class="detail-value">{{user.id}}
        </span>
    </p>
    <p class="detail-row">
        <label>{{'DETAILS.LABELS.NODE_ID' | translate}}: </label>
        <span class="detail-value">{{user.node_id}}</span>
    </p>
    <p class="detail-row">
        <label>{{'DETAILS.LABELS.AVATAR_URL' | translate}}: </label>
        <a attr.href="{{user.avatar_url}}" target="_blank">{{'DETAILS.LINKS.AVATAR' | translate}}</a>
    </p>
    <p class="detail-row">
        <label>{{'DETAILS.LABELS.HOME_URL' | translate}}: </label>
        <a attr.href="{{user.html_url}}" target="_blank">{{'DETAILS.LINKS.HOME_URL' | translate}}</a>
    </p>
    <p class="detail-row">
        <label>{{'DETAILS.LABELS.TYPE' | translate}}: </label>
        <span class="detail-value">{{user.type}}</span>
    </p>
    <p class="detail-row">
        <label>{{'DETAILS.LABELS.SITE_ADMIN' | translate}}: </label>
        <span class="detail-value">{{user.site_admin}}</span>
    </p>
    <p class="detail-row">
        <label>{{'DETAILS.LABELS.SCORE' | translate}}: </label>
        <span class="detail-value">{{user.score}}</span>
    </p>
</div>