:host {
    main {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        flex-direction: column;
        height: 100vh;
        overflow: auto;
        app-main-body {
            flex-grow: 1;
        }
    }
}
