@import "../../../variables";

:host {
    width: 100%;
    .search-container {
        form {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            @media only screen and (min-width: $mobileBreakpoint) {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            .login_field {
                width: 100%;
                @media only screen and (min-width: $mobileBreakpoint) {
                    width: 90%;
                }
            }
        }
    }
}
