<mat-card class="search-container">
    <form [formGroup]="searchForm" (ngSubmit)="triggerSearch()">

        <mat-form-field class="login_field">
            <mat-label>{{'SEARCH_FORM.LOGIN_LABEL' | translate}}</mat-label>
            <input type="text" matInput required appTextUppercase formControlName="login">
            <mat-error>
                <p class="error-message" *ngIf="loginControl.hasError('required')">{{'SEARCH_FORM.REQUIRED_MESSAGE' |
                    translate}}</p>
            </mat-error>
        </mat-form-field>

        <button mat-raised-button color="accent" type="submit" class="search-button"
            attr.aria-label="{{'SEARCH_FORM.SEARCH_BTN_LABEL' | translate}}">{{'SEARCH_FORM.SEARCH_BTN_LABEL' |
            translate}}</button>
    </form>
</mat-card>