@use "~@angular/material" as mat;
// Plus imports for other components in your app.
// @import "./app/components/header/header.component.scss";
@import "~@angular/material/theming";
@include mat.core();

$angular-primary: mat.define-palette(mat.$purple-palette, 500);
$angular-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);

$angular-warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-light-theme(
    (
        color: (
            primary: $angular-primary,
            accent: $angular-accent,
            warn: $angular-warn,
        ),
    )
);

@include mat.all-component-themes($angular-default-theme);

$angular-dark-primary: mat.define-palette(mat.$gray-palette, 800);
$angular-dark-theme: mat.define-dark-theme(
    (
        color: (
            primary: $angular-dark-primary,
            accent: $angular-accent,
            warn: $angular-warn,
        ),
    )
);

.darkMode {
    @include mat.all-component-colors($angular-dark-theme);
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
